<div class="col-sm-12">
    <div class="panel panel-default">
        <div class="panel-heading">
            <label for="custom-javascript">{{ text_javascript_info }}</label>
        </div>
        <div class="panel-body">
            <textarea id="custom-javascript" class="form-control" placeholder="$('#cart').load('index.php?route=common/cart/info #cart > *');" name="javascript" cols="30" rows="10">{{ javascript }}</textarea>
        </div>
    </div>
</div>
