html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background: #ececf6;
    color: #000;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    -webkit-font-smoothing: antialiased;
    -webkit-text-decoration-skip: none;
}

h1, h2, h3, h4 {
    margin: 0;
    padding: 0;
    color: #000;
}

.fa, .fas, .far, .fab {
    font-size: 16px;
}

h1 {
    font-size: 26px;
    font-weight: 700;
}

h2 {
    font-size: 22px;
    font-weight: 600;
}

h3 {
    font-size: 18px;
    font-weight: 600;
}

h4 {
    font-size: 16px;
    font-weight: 700;
}

a {
    color: #0937cc;
    font-size: 14px;
    line-height: 20px;
    transition: .25s;
}

a:focus, a:hover {
    color: #000;
    text-decoration: none;
}

b, strong {
    font-weight: 600;
}

ul, ol {
    margin: 0;
    padding: 0;
    list-style: none;
}

legend {
    padding: 7px 0px;
    font-size: 14px;
}

label {
    font-size: 14px;
    font-weight: normal;
}

input[type="text"],
input[type="tel"],
input[type="email"],
input[type="password"],
input[type="phone"],
input[type="date"],
input[type="time"],
select, select.form-control {
    margin: 10px 0;
    padding: 10px 30px;
    border: 1px solid #e3e3e3;
    border-radius: 25px;
    background: #e3e3e3;
    color: #000;
    font-size: 16px;
    font-weight: 500;
    line-height: 50px;
}

textarea {
    margin: 10px 0;
    padding: 10px 30px;
    border: 1px solid #e3e3e3;
    border-radius: 25px;
    background: #e3e3e3;
    color: #000;
    font-size: 16px;
    font-weight: 500;
    line-height: 18px;
}

input[type="text"],
input[type="tel"],
input[type="email"],
input[type="password"],
input[type="phone"],
input[type="date"],
input[type="time"],
select, select.form-control {
    height: 52px;
    line-height: 54px;
}

textarea {
    height: 150px;
    min-height: 150px;
    resize: vertical;
}

textarea:focus, input:focus {
    outline: none;
}

::-moz-selection {
    background-color: #1ec679;
    color: #000;
}

::selection {
    background-color: #1ec679;
    color: #000;
}

* {
    margin: 0;
    padding: 0;
    outline: none !important;
    box-sizing: border-box;
    word-break: break-word;
}

*:before, *:after {
    margin: 0;
    padding: 0;
    outline: none !important;
    box-sizing: border-box;
}

*:focus {
    outline: none !important;
}

button {
    outline: none !important;
}

.wrapper {
    margin: 0;
    padding: 0;
    min-height: 100%;
}

.navbar {
    background: #fff;
    height: 4rem;
    border-bottom: 1px solid #b7b7b7;
}

.navbar a {
    color: #0937cc;
    font-weight: 600;
}

.alert a,
.badge a {
    color: #000;
    text-decoration: underline;
    font-weight: bold;
}

.alert,
.badge{
    font-size: 0.85rem;
    font-weight: inherit;
    white-space: normal;
    line-height: inherit;
    text-align: left;
}

.alert.bg-primary,
.alert.bg-success,
.alert.bg-danger,
.alert.bg-secondary,
.badge.bg-primary,
.badge.bg-success,
.badge.bg-secondary,
.badge.bg-danger{
    color: #fff;
}
.alert.bg-warning,
.badge.bg-warning{
    color: #000;
}

.jumbotron {
    margin: 15px auto;
    background: #fff;
}

code{
    font-size: 14px;
}
footer {
    padding: 30px 0;
    clear: both;
    background: #1c2749;
    color: #fff;
}

footer a {
    color: #fff;
}

.slider {
    margin: 0 0 25px 0;
    padding: 50px;
    background: url("../assets/bg.png") no-repeat 100%/cover;
    color: #fff;
}
.slider .badge{
    color: #000;
    font-weight: 700;
}
.item .item_title {
    margin: 10px auto;
}

.item .item_title a.bg-danger{
    color: #fff;
}
.item .item_title a {
    padding: 15px;
    border-radius: 6px;
    background: #fff;
    color: #000;
    box-shadow: 0px 0px 15px rgba(152, 152, 152, 0.3);
    font-size: 18px;
    display: flex;
    justify-content: space-between;
}

.item .item_content {
    background: #fff;
    padding: 15px;
    border-radius: 6px;
    box-shadow: 0px 0px 15px rgba(152, 152, 152, 0.3);
}
