{% if status %}
    <li>
        <a href="{{ link }}">{{ text_widget_title }} <span class="label label-danger">{{ order_count }}</span> <i class="fa fa-shopping-cart fa-lg"></i></a>
    </li>
{% endif %}
