<ul class="nav nav-pills nav-stacked">
    {% for t in tabs %}
        <li class="{{ (active_tab == t.id) or (active_tab is not defined and loop.first) ? 'active' }}">
            <a href="#v-tab_{{ t.id }}" data-toggle="tab">
                {% if t.icon %}<i class="fa {{ t.icon }}"></i> {% endif %}{{ t.label }}
                {% if t.id == 'diagnostics' %}<span id="diag-badge" class="badge" style="display:none;"></span>{% endif %}
            </a>
        </li>
    {% endfor %}
</ul>
