{% if block_item.status %}
<div class="checkout-block block_{{ block_item.name }}{% if additional_class is defined %} {{ additional_class }}{% endif %}">
	{{ block[block_item.name] }}
</div>
{% endif %}
