<div class="aw-analysis">
    <p>{{ text_analyze_intro }}</p>

    <div class="mb-10">
        <button type="button" id="aw-analyze-btn" class="btn btn-primary">
            <i class="fa fa-search"></i> {{ button_analyze }}
        </button>
        <span id="aw-analyze-spinner" class="hidden"><i class="fa fa-spinner fa-spin"></i> {{ text_analyzing }}</span>
    </div>

    <div id="aw-analyze-summary" class="alert alert-info hidden"></div>

    <div id="aw-recommendations"></div>

    <div id="aw-diagnostics"></div>
</div>
