<div class="aw-applied">
    <p>{{ text_applied_intro }}</p>

    <div class="mb-10">
        <button type="button" id="aw-rollback-all-btn" class="btn btn-danger">
            <i class="fa fa-undo"></i> {{ button_rollback_all }}
        </button>
    </div>

    <div id="aw-applied-list"></div>
</div>
