<div class="checkout-comment">
    <label class="checkout-title" for="checkout-comment">{{ text_comments }}</label>
    <textarea id="checkout-comment" class="form-control" name="comment" placeholder="{{ text_placeholder_comments }}" rows="3">{{ comment }}</textarea>
</div>
