<?xml version="1.0"?>
<feed xmlns="https://www.w3.org/2005/Atom" xmlns:g="https://base.google.com/ns/1.0">
    <title>{{shop_name}}</title>
    <link rel="self" href="{{url}}"/>
    <g:description>{{shop_description}}</g:description>